.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pivotReportGrid{
    font-size: 0.9rem;
    height: inherit !important;
    ::ng-deep.dx-pivotgrid-area{
        font-weight: 500 !important;
    }
}