.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pivotReportGrid{
    max-height: 77vh;
    font-size: 0.9rem;
    ::ng-deep.dx-pivotgrid-area{
        font-weight: 500 !important;
    }
}