<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon> wallet </mat-icon>
      {{ activeBank?.accountName }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ activeBank?.accountNumber }} | {{ activeBank?.bankName | uppercase }} |
      {{ activeBank?.branch | titlecase }} |
      {{ activeBank?.accountType | titlecase }}
    </mat-card-subtitle>
    <!-- <mat-card class="mat-elevation-z0 primary"
      ><mat-card-title>{{
        this.estimatedDeposit | currency: "INR":"symbol"
      }}</mat-card-title
      ><mat-card-subtitle> Deposit </mat-card-subtitle></mat-card
    >
    <mat-card class="mat-elevation-z0 accent"
      ><mat-card-title>{{
        this.estimatedWithdrawal | currency: "INR":"symbol"
      }}</mat-card-title
      ><mat-card-subtitle> Withdrawal </mat-card-subtitle></mat-card
    > -->
    <form [formGroup]="balanceForm">
      <mat-form-field appearance="outline">
        <mat-label>Balance</mat-label>
        <input
          readonly
          matInput
          type="number"
          placeholder="Enter Current Balance"
          formControlName="currentBalance"
        />
        <!-- <mat-hint
          >Updated On {{ this.activeBank?.balanceUpdatedAt | date: "medium" }}
        </mat-hint> -->
      </mat-form-field>
    </form>
  </mat-card-header>
</mat-card>

<mat-card class="content">
  <ng-container *ngTemplateOutlet="bankTransactionTable"></ng-container>
</mat-card>

<ng-template #bankTransactionTable>
  <table mat-table [dataSource]="bankTransactionData">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="transactionDate">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transactionDate | date: "dd-MMM-yyyy" }}
      </td>
      <td mat-footer-cell *matFooterCellDef>TOTAL</td>
    </ng-container>

    <ng-container matColumnDef="particular">
      <th mat-header-cell *matHeaderCellDef>Particular</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.particular">
        {{ element.particular }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef>Reference</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.reference">
        {{ element.reference }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="mode">
      <th mat-header-cell *matHeaderCellDef>Mode</th>
      <td
        mat-cell
        *matCellDef="let element"
        [matTooltip]="element.transactionMode"
      >
        {{ element.transactionMode }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="withdrawal">
      <th mat-header-cell *matHeaderCellDef>Withdraw</th>
      <td mat-cell *matCellDef="let element">
        {{ element.withdrawal | currency: "INR":"symbol" }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        {{ this.estimatedWithdrawal | currency: "INR":"symbol" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deposit">
      <th mat-header-cell *matHeaderCellDef>Deposit</th>
      <td mat-cell *matCellDef="let element">
        {{ element.deposit | currency: "INR":"symbol" }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        {{ this.estimatedDeposit | currency: "INR":"symbol" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="_balance">
      <th mat-header-cell *matHeaderCellDef>Balance</th>
      <td mat-cell *matCellDef="let element">
        {{ element._balance | currency: "INR":"symbol" }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        {{ this.estimatedBalance | currency: "INR":"symbol" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="onDeleteTransaction(element)" class="pointer">
          delete_outline</mat-icon
        >
        <!--         <mat-icon (click)="onEditTransaction(element)">edit_outline</mat-icon> -->
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</ng-template>
