mat-card.flex-1{
    border:1px solid var(--palette-grey-1-rgb);
}

.content {
    max-height: 46vh;
    overflow: auto;
    padding-top: unset;
    padding-bottom: unset;
}

section{
    justify-content: space-between;
}

.mat-icon-button{
    height: 2em;
    width: 2em;
    line-height: 2em;
    mat-icon.mat-icon.material-icons{
        font-size: 1.2em;
    }
}

::ng-deep.bank-detail-more-css{
    min-width: 200px;
    margin-top:10px;
    .mat-icon-button{
        margin-top:-10px;
        float: right;
    }

}

mat-card-header {
    display: flex;
    justify-content: space-between;
    mat-card-title{
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    /* &:hover{
        transform: scale(0.9);
        transition: all 0.3s ease;
        cursor: pointer;
    } */
}
}

.bank-link-btn{
    padding: 0 !important;
    text-align: inherit;
    font-size: inherit;
}

.mat-menu-item {
    height: 2em;
    line-height: 2em;
    margin: 0px !important;
    &[disabled]
    {
            cursor: default;
            color: unset;
            opacity: 0.8;
    }
}

::ng-deep.dateRangePickerClass.mat-form-field-type-mat-date-range-input .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
    display: inherit !important;
    align-items: center !important;
    padding: 0 !important;
}

table {
    width: 100%;
}

tr.mat-row,
tr.mat-footer-row {
    outline: none;
    height: 2.35em;
}

tr.mat-footer-row {
    font-weight: 500;
}

.mat-table thead {
    vertical-align: bottom;
}

.mat-column-transactionDate {
    flex: 1;
    min-width: 100px;
    max-width: 120px;
}

.mat-column-particular {
    flex: 3;
    min-width: 120px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-column-reference {
    flex: 2;
    min-width: 100px;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-column-mode {
    flex: 1;
    min-width: 80px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-column-withdrawal {
    flex: 2;
    min-width: 100px;
    max-width: 120px;
}

.mat-column-deposit {
    flex: 2;
    min-width: 100px;
    max-width: 120px;
}

.mat-column-balance {
    flex: 2;
    min-width: 100px;
    max-width: 120px;
}

mat-icon{
    font-size: 18px;
    text-align: center;
    color:var(--palette-grey-7-rgb);
}

.bank-details-css{
    a,>div{
        display: flex;
        align-items: end;
        text-decoration: none;
        mat-icon:first-of-type{
            margin-left:0.5em;
        }
    }
    h1,h2,h3,h4,h5,h6{
        margin:unset;
        display: flex;
        align-items: center;
        mat-icon{
            align-self: flex-end;
            &:first-of-type{
                margin-left:0.5em;
            }
        }
    }
}

input:disabled{
   color: var(--text-accent-lighter-color) !important;
}

.negative-balance-row td
{
    color:var(--warn-color);
}

$border-highlight-edited : 1px solid var(--palette-grey-4-rgb);

.edit-row td{
    height: 2.25rem;
    border:$border-highlight-edited;
    border-left:none;
    border-right:none;
    background: var(--palette-primary-contrast-rgb) !important;
    color: var(--palette-warning-rgb) !important;
    &:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left:none;
        border-right:$border-highlight-edited;
    }
    &:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left:$border-highlight-edited;
        border-right:none;
    }
    .edit-icon{
        font-weight: bold;
    }
}

.highlight-row td{
    background-color: #5c95c5;
    color: #fff;
}

.disabled-icon{
    opacity: 0.2;
    cursor: not-allowed;
}