.mat-card{
    padding:10px;
}

.masterFormClass {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    .col-1 {
        flex: 1;
        width: 10vw;
        max-width: 10vw;
        min-width: 10vw;
        margin: 0 0 0 0.75rem;
        height: 50px;

        &.mat-raised-button {
            height: 42px;
            line-height: 42px;
            margin: 0 0 0 auto;
        }
    }
}

.mat-option {
    height: 2.25em;
    font-size: 1.2em;
}

dx-data-grid{
    height: inherit;
}

.back-button{
    position: absolute;
    z-index: 1;
}