<section mat-dialog-title> 
  <h1> {{this.data.isViewData ? 'View Details' : this.data.bankdata ? 'Edit Bank': 'Add Bank'}} </h1>
  <button *ngIf="!this.data.isViewData" mat-button color="primary" (click)="showOtherFields = !showOtherFields">{{showOtherFields ? 'Hide':'Show'}} more fields</button>
</section>
<div mat-dialog-content>
  <form [formGroup]="bankForm">
    <ng-container *ngIf="showOtherFields || this.data.isViewData">
      <mat-form-field appearance="outline">
        <mat-label>URL</mat-label>
        <input
          matInput
          placeholder="Enter account URL"
          formControlName="accountURL"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Customer ID</mat-label>
        <input
          matInput
          placeholder="Enter Customer ID"
          formControlName="customerID"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>PWD</mat-label>
        <input
          matInput
          placeholder="Enter PWD"
          formControlName="accountPWD"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Txn PWD</mat-label>
        <input
          matInput
          placeholder="Enter Txn PWD"
          formControlName="accountTxnPWD"
        />
      </mat-form-field>
      <mat-divider *ngIf="!this.data.isViewData"></mat-divider>
    </ng-container>
    <ng-container *ngIf="!this.data.isViewData">
    <mat-form-field appearance="outline">
      <mat-label>Account Name</mat-label>
      <input
        matInput
        placeholder="Enter account name"
        formControlName="accountName"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bank Name</mat-label>
      <input
        matInput
        placeholder="Enter bank name"
        formControlName="bankName"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Branch Name</mat-label>
      <input
        matInput
        placeholder="Enter branch name"
        formControlName="branch"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Account Number</mat-label>
      <input
        matInput
        placeholder="Enter account number"
        formControlName="accountNumber"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Account Type</mat-label>
      <input
        type="text"
        placeholder="Select account type"
        matInput
        formControlName="accountType"
        [matAutocomplete]="accountTypeAuto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #accountTypeAuto="matAutocomplete"
      >
        <mat-option
          *ngFor="let option of accountTypeConstant"
          [value]="option.value"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Current Balance</mat-label>
      <input
        matInput
        placeholder="Enter current balance"
        formControlName="currentBalance"
      />
    </mat-form-field>
  </ng-container>
  </form>
</div>
<mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="undefined"
    [disabled]="data?.isOnboarding"
  >
    {{this.data.isViewData ? 'Close':'Cancel'}}
  </button>
  <button
  *ngIf="!this.data.isViewData"
    mat-raised-button
    (click)="onSaveBank()"
    cdkFocusInitial
    color="primary"
  >
    {{this.data.bankdata ? 'Save Changes':'Add Bank'}}
  </button>
</mat-dialog-actions>
