<!-- <div class="flexColumn sidebar-wrapper">
  <section class="app-logo">
    <img src="./assets/images/logo.png" alt="MoneySense" (click)="downloadBackup()"/>
    <strong> MoneySense </strong>
  </section>
  <section class="side-list">
    <ul>
      <mat-accordion [multi]="false">
        <li class="main-item">
          <a
          routerLinkActive="active"
          role="button"
          mat-button
          class="fullWidth"
          routerLink="overview"
            >Overview</a
          >
        </li>
        <li class="main-item">
          <mat-expansion-panel class="mat-elevation-z0" [expanded]="currentRouteActive">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Banks
                <mat-icon
                  class="addBankDetail pointer"
                  (click)="openAddBankDetails($event)"
                >
                  control_point
                </mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <li class="sidebarlistItem" *ngFor="let bank of banks">
                <a
                  [routerLink]="'bank/' + bank.accountName"
                  routerLinkActive="active"
                  role="button"
                  mat-button
                  [title]="bank.accountName"
                  >{{ bank.accountName }}</a
                >
                <section>
                  <mat-icon class="pointer" (click)="editBank($event, bank)">
                    edit
                  </mat-icon>
                  <mat-icon class="pointer" (click)="deleteBank($event, bank)">
                    delete_outline
                  </mat-icon>
                </section>
              </li>
            </ng-template>
          </mat-expansion-panel>
        </li>
        <li class="main-item">
          <a
            routerLinkActive="active"
            role="button"
            mat-button
            class="fullWidth"
            routerLink="report"
            >Reports</a
            >
        </li>
        <li class="main-item">
          <a
          routerLinkActive="active"
          role="button"
          mat-button
          class="fullWidth"
          routerLink="income-at-glance"
          >Income at Glance</a
          >
        </li>
        <li class="main-item">
          <a
          routerLinkActive="active"
          role="button"
          mat-button
          class="fullWidth"
          routerLink="pending-payment"
            >Pending payment</a
          >
        </li>
        <li class="main-item">
          <a
            routerLink="admin/master"
            routerLinkActive="active"
            role="button"
            mat-button
            class="fullWidth"
            >Master details</a
          >
        </li>
      </mat-accordion>
    </ul>
  </section>
 <section *ngIf="false" class="bottom">
    <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
  </section> 
</div> -->

<div class="toolbar-wrapper">
<img src="./assets/images/logo.png" alt="MoneySense" class="app-logo" (click)="downloadBackup()"/>
<span>{{title}}</span>
<span class="example-spacer"></span>
<a routerLinkActive="active"
  role="button"
  mat-button
  routerLink="overview">
Overview
</a>
<button mat-button [ngClass]="{active: isRouteActive('/home/bank/')}" [matMenuTriggerFor]="banksMenu" (menuOpened)="bankMenuOpen = true" (menuClosed)="bankMenuOpen = false">Bank</button>
<mat-icon
class="addBankDetail-btn-css pointer"
(click)="openAddBankDetails($event)"
>
control_point
</mat-icon>
<mat-menu #banksMenu="matMenu">
  <button *ngFor="let bank of banks"
  [routerLink]="'bank/' + bank.accountName"
  role="button"
  routerLinkActive="active"
  mat-button
  [title]="bank.accountName"
  >{{ bank.accountName }}
</button>
</mat-menu>
<a
  routerLinkActive="active"
  role="button"
  mat-button
  routerLink="report"
  >Reports</a
  >
<a
  routerLinkActive="active"
  role="button"
  mat-button
  routerLink="income-at-glance"
  >Income at Glance</a
  >
<a
  routerLinkActive="active"
  role="button"
  mat-button
  routerLink="pending-payment"
  >Pending payment</a
  >
<a routerLink="admin/master"
  routerLinkActive="active"
  role="button"
  mat-button
  >Master details</a>
<span class="example-spacer"></span>
<button mat-icon-button (click)="logout()">
  <mat-icon>power_settings_new</mat-icon>
</button>
</div>