.toolbar-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    .app-logo{
        height: 34px;
        width: auto;
        cursor: pointer;
        margin-right: 0.5em;
    }

    a,button{
        color: var(--palette-grey-2-rgb);
    }

    .active {
        color: var(--accent-color) !important;
        border-bottom: 3px solid;
        margin: 2px 0px -5px 0px;
        border-radius: 0px;
    }
}

.example-spacer{
    flex:1 1 auto;
}

.addBankDetail-btn-css{
width: 2em;
font-size: 1em;
height: 1em;
}

.fullPageHeader{
    z-index: 99999;
    background-color: var(--primary-color);
    opacity: 0.9;
    justify-content: center;
    align-items: center;
}