<div class="flexColumn fullHeight">
  <ng-container *ngTemplateOutlet="DxIncomeAtGlanceTable"></ng-container>
</div>

<ng-template #DxIncomeAtGlanceTable>
    <dx-data-grid
        [dataSource]="incomeDetails"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [columnMinWidth]="80"
        (onSaved)="saveIncome($event)"
        >
      <dxi-column dataField="account" dataType="string" caption="Bank">
        <dxo-lookup
            [dataSource]="banks">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="month" dataType="string" caption="Month">
        <dxo-lookup
            [dataSource]="monthsShort">
        </dxo-lookup>
      </dxi-column>
      <dxi-column [width]="80" dataField="billNumber" dataType="string" caption="Bill No."></dxi-column>
      <dxi-column [width]="120" dataField="clientName" dataType="string" caption="Client Name" editorType='dxDropDownBox' [lookup]="{ dataSource: uniqueClientName}"  [editorOptions]="{ acceptCustomValue: true }"></dxi-column>
      <dxi-column [width]="100" dataField="billAmount" dataType="number" caption="Bill Amount" format="₹ ,##,##0.00"></dxi-column>
      <dxi-column [width]="80" dataField="igst" dataType="number" caption="IGST 18%" format="₹ ,##,##0.00"></dxi-column>
      <dxi-column [width]="80" dataField="cgst" dataType="number" caption="CGST 9%" format="₹ ,##,##0.00"></dxi-column>
      <dxi-column [width]="80" dataField="sgst" dataType="number" caption="SGST 9%" format="₹ ,##,##0.00"></dxi-column>
      <dxi-column [width]="100" dataField="totalTax" [allowEditing]="false" cssClass="not-editable" dataType="number" caption="Total Tax" format="₹ ,##,##0.00"></dxi-column>
      <dxi-column [width]="100" dataField="totalAmount" [allowEditing]="false" cssClass="not-editable" dataType="number" caption="Total Amount" format="₹ ,##,##0.00"></dxi-column>
      <dxi-column [width]="80" dataField="afterTDS" [allowEditing]="false" cssClass="not-editable" dataType="number" caption="After TDS 10%" format="₹ ,##,##0.00"></dxi-column>
      <dxi-column [width]="100" dataField="paymentRcvdDate" caption="Payment Received Date" dataType="date" format="dd-MMM-yyyy"></dxi-column>
      <dxi-column [width]="100" dataField="amountRcvd" dataType="number" caption="Amount Received" format="₹ ,##,##0.00"></dxi-column>
      <dxi-column [width]="100" dataField="pendingAmount" [allowEditing]="false" cssClass="not-editable" dataType="number" caption="Pending Payment" format="₹ ,##,##0.00"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-editing
      mode="row"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      ></dxo-editing>
      <dxo-summary>
        <dxi-total-item column="amountRcvd" summaryType="sum" valueFormat="₹ ,##,##0.00" displayFormat="{0}"></dxi-total-item>
        <dxi-total-item column="pendingAmount" summaryType="sum" valueFormat="₹ ,##,##0.00" displayFormat="{0}"></dxi-total-item>
        <dxi-total-item column="billAmount" summaryType="sum" valueFormat="₹ ,##,##0.00" displayFormat="{0}"></dxi-total-item>
        <dxi-total-item column="totalTax" summaryType="sum" valueFormat="₹ ,##,##0.00" displayFormat="{0}"></dxi-total-item>
        <dxi-total-item column="totalAmount" summaryType="sum" valueFormat="₹ ,##,##0.00" displayFormat="{0}"></dxi-total-item>
    </dxo-summary>
    </dx-data-grid>
  </ng-template>