<div class="fullHeight flexColumn">
    <mat-card class="fullHeight">
        <mat-card-title>Income at glance</mat-card-title>
        <mat-card-content>
            <ng-container *ngTemplateOutlet="DxIncomeAtGlanceTable"></ng-container>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #DxIncomeAtGlanceTable>
    <dx-data-grid
        [dataSource]="incomeDetails"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        (onSaved)="saveIncome($event)"
        >
      <dxi-column dataField="account" dataType="string" caption="Bank">
        <dxo-lookup
            [dataSource]="banks">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="billNumber" dataType="string" caption="Bill No."></dxi-column>
      <dxi-column dataField="clientName" dataType="string" caption="Client Name"></dxi-column>
      <dxi-column dataField="billAmount" dataType="number" caption="Bill Amount" format="₹ ,##0.##"></dxi-column>
      <dxi-column dataField="igst" dataType="number" caption="IGST 18%" format="₹ ,##0.##"></dxi-column>
      <dxi-column dataField="cgst" dataType="number" caption="CGST 9%" format="₹ ,##0.##"></dxi-column>
      <dxi-column dataField="sgst" dataType="number" caption="SGST 9%" format="₹ ,##0.##"></dxi-column>
      <dxi-column dataField="totalTax" [allowEditing]="false" cssClass="not-editable" dataType="number" caption="Total Tax" format="₹ ,##0.##"></dxi-column>
      <dxi-column dataField="totalAmount" [allowEditing]="false" cssClass="not-editable" dataType="number" caption="Total Amount" format="₹ ,##0.##"></dxi-column>
      <dxi-column dataField="afterTDS" [allowEditing]="false" cssClass="not-editable" dataType="number" caption="After TDS 10%" format="₹ ,##0.##"></dxi-column>
      <dxi-column dataField="paymentRcvdDate" caption="Payment Received Date" dataType="date" format="dd-MMM-yyyy"></dxi-column>
      <dxi-column dataField="amountRcvd" dataType="number" caption="Amount Received" format="₹ ,##0.##"></dxi-column>
      <dxi-column dataField="pendingAmount" [allowEditing]="false" cssClass="not-editable" dataType="number" caption="Pending Payment" format="₹ ,##0.##"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-editing
      mode="row"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      ></dxo-editing>
      <dxo-summary>
        <dxi-total-item
        column="amountRcvd"
        summaryType="sum">
    </dxi-total-item>
        <dxi-total-item
            column="pendingAmount"
            summaryType="sum">
        </dxi-total-item>
    </dxo-summary>
    </dx-data-grid>
  </ng-template>