section{
    justify-content: space-between;
}

mat-card.mat-elevation-z0{
    &:not(.is-disabled):hover{
    transform: scale(0.9);
    transition: all 0.3s ease;
    cursor: pointer;
    }
    &.is-disabled{
        mat-card-title{
            opacity: 0.6;
        }
    }
    mat-card-title{
        font-size:1.5rem;
    }
}

table {
    width: 100%;
}

::ng-deep #BankDataGrid .dx-datagrid-rowsview .dx-data-row:hover{
    color: var(--accent-color);
    cursor: pointer;
}