
<section class="flexRow">
  <mat-card class="mat-elevation-z0" (click)="navigate('income-at-glance')">
    <mat-card-subtitle>
      Income at Glance
    </mat-card-subtitle>
    <mat-card-title>
      {{ incomeAtGlanceBalance | currency:'INR' }}
    </mat-card-title>                
  </mat-card>
  <mat-card class="mat-elevation-z0" (click)="navigate('pending-payment')">
    <mat-card-subtitle>
      Pending Payment
    </mat-card-subtitle>
        <mat-card-title>
          {{ pendingPaymentBalance | currency:'INR' }}
        </mat-card-title>
  </mat-card>
</section>
<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title> Banks </mat-panel-title>
    </mat-expansion-panel-header>
      <section>
          <ng-container *ngTemplateOutlet="DxbankOverviewTable"></ng-container>
      </section>
  </mat-expansion-panel>
  </mat-accordion>
  
<ng-template #DxbankOverviewTable>
  <dx-data-grid
      [dataSource]="banks"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [columns]="['accountType','totalDeposit','totalWithdrawn','estimatedBalance']"
      (onRowClick)="onBankRowClick($event)"
      id="BankDataGrid">
    <dxi-column dataField="accountType" caption="Account Type" [groupIndex]="0"></dxi-column>
    <dxi-column dataField="accountName" caption="Account Name"></dxi-column>
    <dxi-column dataField="bankName" caption="Bank"></dxi-column>
    <dxi-column dataField="branch" caption="Branch"></dxi-column>
    <dxi-column dataField="accountNumber" caption="Account number"></dxi-column>
    <dxi-column dataField="estimatedBalance" caption="Balance" format="₹ ,##0.00"></dxi-column>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-summary>
      <dxi-group-item
            column="accountType"
            summaryType="count"
            [alignByColumn]="true">
        </dxi-group-item>
    <dxi-group-item
    column="estimatedBalance"
    summaryType="sum"
    [alignByColumn]="true"
    valueFormat="₹ ,##0.00"
    displayFormat="{0}">
  </dxi-group-item>
  <dxi-total-item
            column="accountType"
            summaryType="count">
        </dxi-total-item>
        <dxi-total-item
            column="estimatedBalance"
            summaryType="sum"
            valueFormat="₹ ,##0.00"
            displayFormat="{0}">
        </dxi-total-item>
  </dxo-summary>
  </dx-data-grid>
</ng-template>