.particularItem.mat-option {
    height: 2.25em;
    font-size: 1.2em;
}

.transactionFormClass {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .col-1 {
        flex: 1;
        width: 22vw;
        max-width: 22vw;
        min-width: 22vw;

        &.mat-raised-button {
            height: 46px;
            line-height: 46px;
        }
    }
}

mat-card{
   padding: 16px 8px 0px 8px
}

.role-button{
    cursor: pointer;
    opacity: 0.4;
    &:hover{
        opacity: 0.8;
    }
}

.display-none{
    display: none !important;
}

.overlay-selection-list{
    max-height: 50vh;
    overflow-y: auto;
}