<mat-card class="mat-elevation-z0">
<form
    [formGroup]="transactionForm"
    (ngSubmit)="onAddTransaction()"
    class="transactionFormClass"
    #formDirective="ngForm"
  >
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Transaction date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="dd-MMM-yyyy"
        formControlName="transactionDate"
        readonly
        (focus)="picker.open()"
        (click)="picker.open()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Ledger</mat-label>
      <input
        type="text"
        placeholder="Select Ledger"
        matInput
        formControlName="particular"
        [matAutocomplete]="particularAuto"
        />
      <mat-icon matSuffix class="role-button" role="button" (click)="addLedger()">add</mat-icon>
      <mat-autocomplete
        autoActiveFirstOption
        #particularAuto="matAutocomplete"
        [panelWidth]="'auto'"
      >
        <mat-option
          *ngFor="let option of filteredMasterDetails | async"
          [value]="option?.Ledger"
          class="particularItem"
        >
          {{ option?.Ledger }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="particular?.invalid">Please select valid particular</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Reference</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter reference"
        formControlName="reference"
        [matAutocomplete]="referenceAuto"
      />
      <mat-icon matSuffix class="role-button" [ngClass]="{'display-none': !isInternalTransfer}" type="button" (click)="toggleInternalTransfer($event)" cdkOverlayOrigin #trigger="cdkOverlayOrigin">{{internalBankSelected ? 'assured_workload': 'account_balance' }} </mat-icon>
      <mat-hint class="flexRow" *ngIf="internalBankSelected"> with {{  internalBankSelected }}
        <mat-icon class="role-button" color="warn" type="button" (click)="onBankSelect(false)">clear</mat-icon>
      </mat-hint>
      <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOpen">
        <mat-card (mouseleave)="isOpen = false">
          <mat-selection-list class="overlay-selection-list" [multiple]="false">
            <mat-list-option *ngFor="let bank of banksFiltered" [value]="bank.accountName" (click)="onBankSelect(bank.accountName)">
              {{bank.accountName}}
            </mat-list-option>
          </mat-selection-list>
        </mat-card>
      </ng-template>
       <mat-autocomplete
        autoActiveFirstOption
        #referenceAuto="matAutocomplete"
        [panelWidth]="'auto'"
      >
        <mat-option
          *ngFor="let option of filteredReference | async"
          [value]="option"
          class="particularItem"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Transaction Mode</mat-label>
      <mat-select formControlName="transactionMode">
        <mat-option
          *ngFor="let option of transactionModeOption"
          [value]="option.value"
          class="particularItem"
        >
          {{ option.name }}
        </mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Transaction Type</mat-label>
      <mat-select formControlName="transactionType">
        <mat-option
          *ngFor="let option of transactionTypeOption"
          [value]="option.value"
          class="particularItem"
        >
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Transaction Amount</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter transaction amount"
        formControlName="transactionAmount"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Remark</mat-label>
      <input matInput placeholder="Enter remark" formControlName="remark" />
    </mat-form-field>
      <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="transactionForm.invalid"
      class="col-1"
      >
        {{editRecord ? 'Update': 'Add'}} Transaction
      </button>
  </form>
</mat-card>