<!-- <div class="full-page">
    <mat-drawer-container hasBackdrop="false">
      <mat-drawer #drawer mode="side" opened>
         <app-sidenav></app-sidenav>
        </mat-drawer> 
        <mat-drawer-content>
          <router-outlet>
          </router-outlet>
        </mat-drawer-content>
  </mat-drawer-container>
</div> -->

<div class="full-page flexColumn">
  <mat-toolbar color="primary" class="fullWidth app-toolbar">
    <mat-toolbar-row>
      <app-sidenav></app-sidenav>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="content">
  <mat-card>
    <router-outlet>
    </router-outlet>
  </mat-card>
</div>
</div>