/* mat-drawer-container {
    height: 100%;
    width: 100%;

    mat-drawer {
        width: 18rem;
        min-width: 150px;
        border-right: unset;
        background: var(--primary-darker-color);
        color: var(--palette-grey-2-rgb);
    }
} 
.toggle-drawer-btn{
    position: fixed !important;
    top: 90vh;
    left: 95vw;
    z-index: 9999;
} */
.app-toolbar{
    background: var(--primary-darker-color);
    height: 45px;
    max-height: 45px;
    min-height: 45px;
    mat-toolbar-row{
        height: 45px;
        &.secondary{
            background: var(--palette-grey-5-rgb);
            color: var(--primary-darker-color);
        }
    }
}

.content{
    display: flex;
    flex: 1;
    overflow-y: auto;
    >mat-card{
        overflow: auto;
        width: 100%;
    }
}