dx-data-grid{
    height: 100%;
}
::ng-deep{
    .lapsed{
    color:var(--palette-quaternary-rgb);
    }
    .dx-command-edit .dx-icon-todo{
        &::before{
            content:"\f153";
        }
    }
    .completed{
        color:var(--palette-success-rgb);
        .dx-icon-done::before{
            content:'\f005';
            color:var(--palette-success-rgb) !important;
            cursor: not-allowed;
        }
    }
    .dx-link-icon{
        color:var(--palette-grey-1-rgb) !important;
        &.dx-icon-undo{
            color:var(--palette-grey-3-rgb) !important;
        }
    }
}