dx-data-grid{
    height: 100%;
}
::ng-deep{
    .lapsed{
    color:var(--palette-quaternary-rgb);
    }
    .strike{
        text-decoration: line-through;
    }
    .dx-link-icon{
        color:var(--palette-grey-6-rgb) !important;
    }
}