<section class="fullHeight">
  <ng-container *ngTemplateOutlet="DxSchedulerTable"></ng-container>
</section>



<ng-template #DxSchedulerTable>
<dx-popover #dxPopOver
  [(target)]="popoverTarget"
  [showTitle]="true"
  title="Transaction Details"
  > 
  <div>
    <p>Date : {{transactionDetails.date | date: "dd-MMM-yyyy"}}</p>
    <p>Bank : {{transactionDetails.bank | titlecase}}</p>
    <p>Ledger : {{transactionDetails.ledger | uppercase}}</p>
    <p>Mode : {{transactionDetails.mode | titlecase}}</p>
  </div>
</dx-popover>

    <dx-data-grid
        #dxDataPlannerGrid
        [dataSource]="planSchedule"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [columnHidingEnabled]="true"
        (onCellPrepared)="onCellPrepared($event)"
        (onCellHoverChanged)="onCellHoverChanged($event)"
        >
        <dxo-sorting
        mode="multiple">
      </dxo-sorting>
      
      <dxo-scrolling mode="virtual" [preloadEnabled]="true"></dxo-scrolling>
      <dxi-column dataField="year" caption="Year" [groupIndex]="0"></dxi-column>.
      <dxi-column dataField="month" caption="Month" dataType="date" format="MMMM" [groupIndex]="1"></dxi-column>
      <dxi-column dataField="week" caption="Week" [groupIndex]="2"></dxi-column>
      <dxi-column dataField="taskdate" caption="Date" dataType="date" format="dd-MMM-yyyy" [sortIndex]="1" sortOrder="asc"></dxi-column>
      <dxi-column dataField="name" caption="Name">
        <dxo-lookup
            [dataSource]="taskNames">
      </dxo-lookup>        
      </dxi-column>
      <dxi-column dataField="budget" dataType="number" caption="Estimated" format="₹ ,##,##0.##"></dxi-column>
      <dxi-column dataField="transactionAmount" dataType="number" caption="Actual" format="₹ ,##,##0.##"></dxi-column>
      <dxi-column dataField="difference" dataType="number" caption="Difference" format="₹ ,##,##0.##"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column type="buttons" caption="Mark as">
        <dxi-button name="done" text="Done" icon="todo" [visible]="isDoneVisible.bind(this)" [onClick]="markAsDoneDialog.bind(this)">Done</dxi-button>
        <dxi-button name="undo" text="Undo" icon="undo" [visible]="isUndoVisible.bind(this)" [onClick]="markAsUndoDialog.bind(this)">Done</dxi-button>
    </dxi-column>
      <dxo-summary>
      <dxi-group-item
      column="budget"
      summaryType="sum"
      [alignByColumn]="true"
      valueFormat="₹ ,##,##0.##"
      displayFormat="{0}">
    </dxi-group-item>
    <dxi-group-item
    column="transactionAmount"
    summaryType="sum"
    [alignByColumn]="true"
    valueFormat="₹ ,##,##0.##"
    displayFormat="{0}">
  </dxi-group-item>
  <dxi-group-item
  column="difference"
  summaryType="sum"
  [alignByColumn]="true"
  valueFormat="₹ ,##,##0.##"
  displayFormat="{0}">
</dxi-group-item>
    </dxo-summary>
    </dx-data-grid>
  </ng-template>