<mat-drawer-container class="fullHeight" [hasBackdrop]="false">
    <mat-drawer-content>
      <app-planner-calendar></app-planner-calendar>
    </mat-drawer-content>
    <mat-drawer position="end" mode="side" [disableClose]="true" opened>
        <ng-container *ngTemplateOutlet="matTabPlanner"></ng-container>
    </mat-drawer>
</mat-drawer-container>


<ng-template #matTabPlanner>
  <div class="side-drawer fullHeight flexColumn">
    <section class="flexRow">
      <h2 class="header"> {{ showPlanner ? 'Add Task' : 'Task List' }} </h2>
      <button *ngIf="showPlanner" mat-stroked-button color="primary" class="toggle-button adjust-margin" (click)="onTogglePlanner()">Show Tasks</button>
      <button *ngIf="!showPlanner" mat-flat-button color="primary" class="toggle-button" (click)="onTogglePlanner()">Add Task</button>
    </section>
    <div class="flex-1 content-wrapper" *ngIf="!showPlanner; else addTaskStepper">
      <ng-container *ngIf="planner.length > 0">
        <div class="plan-item" *ngFor="let item of planner">
          <h3>{{item?.taskName}} <span>{{item?.taskEstBudget | currency:'INR'}}</span> </h3>
          <p>{{item?.recurText}}</p>
          <section class="buttons">
            <button mat-icon-button (click)="editPlanner(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deletePlanner(item)">
              <mat-icon>delete_outlined</mat-icon>
            </button>
          </section>
          <mat-divider></mat-divider>
        </div>
      </ng-container>
    </div>
  </div>
  </ng-template>

<ng-template #addTaskStepper>
    <mat-stepper class="flex-1 content-wrapper" orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="taskNametFormGroup">
          <form [formGroup]="taskNametFormGroup">
            <ng-template matStepLabel>Task Detail</ng-template>
            <div class="flexColumn">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="ex. Electric bill for home" formControlName="taskName" #taskNameCtrl>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Estimated Budget</mat-label>
                <input matInput type="number" placeholder="Enter estimated budget for {{taskNameCtrl.value}}" formControlName="taskEstBudget">
              </mat-form-field>
              </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="scheduleFormGroup">
          <form [formGroup]="scheduleFormGroup" class="flexColumn">
            <ng-template matStepLabel>Set a schedule {{ taskNameCtrl.value ? 'for '+taskNameCtrl.value : ''}}</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Start date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="dd-MMM-yyyy"
                formControlName="startDate"
                readonly
                (focus)="picker.open()"
                (click)="picker.open()"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="flexRow repeat-toggle">
              <mat-label> Repeat </mat-label> <mat-slide-toggle color="primary" formControlName="isRepeat"></mat-slide-toggle>
            </div>
            <div class="flexRow">
              <mat-form-field class="is-number-field" appearance="outline">
                <mat-label>Every</mat-label>
                <input matInput min="1" type="number" formControlName="every">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-select formControlName="unit" #unit>
                  <mat-option value="DAYS">Day</mat-option>
                  <mat-option value="WEEKS">Week</mat-option>
                  <mat-option value="MONTHS">Month</mat-option>
                  <mat-option value="YEARS">Year</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="flexRow">
              <mat-button-toggle-group class="week-select" color="primary" *ngIf="unit.value == 'WEEKS'" formControlName="weekdays" aria-label="Week days" multiple>
                <mat-button-toggle *ngFor="let day of _weekdays" [value]="day.value">{{ day.name | titlecase}}</mat-button-toggle>
              </mat-button-toggle-group>

              <mat-form-field *ngIf="unit.value == 'MONTHS' || unit.value == 'YEARS'" class="is-number-field" appearance="outline">
                <mat-label>On</mat-label>
                <input matInput min="1" max="31" type="number" formControlName="date">
              </mat-form-field>

              <mat-form-field *ngIf="unit.value == 'YEARS'" appearance="outline">
                <mat-label>Select months</mat-label>
                  <mat-select formControlName="months"  multiple>
                    <mat-option  *ngFor="let month of _months" [value]="month.value">{{month.name | titlecase}}</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>End date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerEnd"
                placeholder="dd-MMM-yyyy"
                formControlName="endDate"
                readonly
                (focus)="pickerEnd.open()"
                (click)="pickerEnd.open()"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" [optional]="true">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Set a payment detail</ng-template>
              <div>
                <!-- <button mat-button (click)="stepper.reset()">Reset</button>  -->
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="primary" (click)="onPlanAddorUpdate()"> {{isActivePlan ? 'Update': 'Add'}} Task to calendar</button>
              </div>
            </form>
          </mat-step>
    </mat-stepper>
</ng-template>