mat-drawer{
    min-width: 30vw;
    max-width: 30vw;
}

.drawer-toggle-button{
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 9999;
}

mat-stepper{
    overflow-y: auto;
}

.side-drawer{
    section.flexRow{
        justify-content: flex-start;
        align-items: center;
        .header{
            margin:unset;
            margin-left:20px;
        }
    }
}

.no-plan-section{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.plan-item{
    margin:8px 0px 8px 16px;
    position: relative;
    border-bottom: 1px solid var(--palette-grey-2-rgb);
    h3{
        margin-bottom:unset;
        font-weight: 600;
        span{
            font-weight: 400;
            font-size: 12px;
        }
    }
    p{
        color : var(--palette-grey-7-rgb);
    }
    .buttons{
        position: absolute;
        top: -5px;
        right: 20px;
    }
}

.content-wrapper{
    margin:10px;
    overflow-y: auto;
}

.is-number-field{
    margin-right: 16px;
    width: 60px;
}
.repeat-toggle{
    margin-bottom: 16px;
    align-items: center;
    mat-label{
        margin-right:16px;
    }
}
.week-select{
    margin-bottom: 16px;
}

.mat-button-toggle-checked{
    background: var(--primary-color);
    color: var(--text-primary-darker-color);
}
