<mat-drawer-container class="fullHeight" [hasBackdrop]="false">
    <mat-drawer-content>
      <section class="drawer-toggle-button">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>{{ drawer.opened ? 'keyboard_double_arrow_left' : 'keyboard_double_arrow_right'}}</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="legendMenu">
          <mat-icon>filter_alt</mat-icon>
        </button>
        <mat-menu #legendMenu="matMenu">
          <div mat-menu-item [ngClass]="{'task-hidden': !taskGrpVisible.includes('lapsed')}" (click)="onLegendClick($event,'lapsed')"><span class="circle lapsed"></span> <!-- {{taskGrpVisible.includes('lapsed') ? 'Hide' : 'Show'}} --> Lapsed task</div>
          <div mat-menu-item [ngClass]="{'task-hidden': !taskGrpVisible.includes('completed')}" (click)="onLegendClick($event,'completed')"><span class="circle completed"></span><!-- {{taskGrpVisible.includes('completed') ? 'Hide' : 'Show'}} --> Completed task</div>
          <div mat-menu-item [ngClass]="{'task-hidden': !taskGrpVisible.includes('upcoming')}" (click)="onLegendClick($event,'upcoming')"><span class="circle upcoming"></span> <!-- {{taskGrpVisible.includes('upcoming') ? 'Hide' : 'Show'}}  --> Upcoming task</div>
        </mat-menu>
      </section>
      <app-planner-calendar [taskGroup]="taskGrpVisible"></app-planner-calendar>
    </mat-drawer-content>
    <mat-drawer #drawer position="start" mode="side">
        <ng-container *ngTemplateOutlet="matTabPlanner"></ng-container>
    </mat-drawer>
</mat-drawer-container>


<ng-template #matTabPlanner>
  <div class="side-drawer fullHeight flexColumn">
    <section class="flexRow">
      <button *ngIf="showPlanner" mat-icon-button color="primary" class="toggle-button" (click)="onTogglePlanner()"><mat-icon>arrow_back</mat-icon></button>
      <h2 class="header"> {{ showPlanner ? 'Add Task' : 'Task List' }} </h2>
      <button *ngIf="!showPlanner" mat-icon-button color="primary" class="toggle-button" (click)="onTogglePlanner()"><mat-icon>add_box_outline</mat-icon></button>
    </section>
    <div class="flex-1 content-wrapper" *ngIf="!showPlanner; else addTaskStepper">
      <ng-container *ngIf="planner.length > 0;else noPlanTemplate">
        <div class="plan-item" *ngFor="let item of planner">
          <h3>{{item?.taskName}} <span>{{item?.taskEstBudget | currency:'INR'}}</span> </h3>
          <p>{{item?.recurText}}</p>
          <!-- <p>{{getPaymentText(item?.paymentDetails)}}</p> -->
          <section class="buttons">
            <button mat-icon-button (click)="editPlanner(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deletePlanner(item)">
              <mat-icon>delete_outlined</mat-icon>
            </button>
          </section>
        </div>
      </ng-container>
      <ng-template #noPlanTemplate>
        <section class="flexColumn fullHeight no-plan-section">
          <h2>Be proactive, track expenses!</h2>
          <button mat-button color="primary" (click)="onTogglePlanner()"><strong> Add a task </strong></button> 
          <h4>Keep a year-long view on your expenses <br>Track with ease</h4>
        </section>
      </ng-template>
    </div>
  </div>
  </ng-template>

<ng-template #addTaskStepper>
    <mat-stepper class="flex-1 content-wrapper" orientation="vertical" [linear]="true" #stepper (selectionChange)="selectionChange($event)">
        <mat-step [stepControl]="taskNametFormGroup">
          <form [formGroup]="taskNametFormGroup">
            <ng-template matStepLabel>Task Detail</ng-template>
            <div class="flexColumn">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="ex. Electric bill for home" formControlName="taskName" #taskNameCtrl>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Estimated Budget</mat-label>
                <input matInput type="number" placeholder="Enter estimated budget for {{taskNameCtrl.value}}" formControlName="taskEstBudget">
              </mat-form-field>
              </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="scheduleFormGroup">
          <form [formGroup]="scheduleFormGroup" class="flexColumn">
            <ng-template matStepLabel>Set a schedule {{ taskNameCtrl.value ? 'for '+taskNameCtrl.value : ''}}</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Start date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="dd-MMM-yyyy"
                formControlName="startDate"
                readonly
                (focus)="picker.open()"
                (click)="picker.open()"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="flexRow repeat-toggle">
              <mat-label> Repeat </mat-label> <mat-slide-toggle color="primary" formControlName="isRepeat"></mat-slide-toggle>
            </div>
            <ng-container *ngIf="scheduleFormGroup.get('isRepeat')?.value">
            <div class="flexRow">
              <mat-form-field class="is-number-field" appearance="outline">
                <mat-label>Every</mat-label>
                <input matInput min="1" type="number" formControlName="every">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-select formControlName="unit" #unit>
                  <mat-option value="DAYS">Day</mat-option>
                  <mat-option value="WEEKS">Week</mat-option>
                  <mat-option value="MONTHS">Month</mat-option>
                  <mat-option value="YEARS">Year</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="flexRow">
              <mat-button-toggle-group class="week-select" color="primary" *ngIf="unit.value == 'WEEKS'" formControlName="weekdays" aria-label="Week days" multiple>
                <mat-button-toggle *ngFor="let day of _weekdays" [value]="day.value">{{ day.name | titlecase}}</mat-button-toggle>
              </mat-button-toggle-group>

              <mat-form-field *ngIf="unit.value == 'MONTHS' || unit.value == 'YEARS'" class="is-number-field" appearance="outline">
                <mat-label>On</mat-label>
                <input matInput min="1" max="31" type="number" formControlName="date">
              </mat-form-field>

              <mat-form-field *ngIf="unit.value == 'YEARS'" appearance="outline">
                <mat-label>Select months</mat-label>
                  <mat-select formControlName="months"  multiple>
                    <mat-option  *ngFor="let month of _months" [value]="month.value">{{month.name | titlecase}}</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>End date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerEnd"
                placeholder="dd-MMM-yyyy"
                formControlName="endDate"
                readonly
                (focus)="pickerEnd.open()"
                (click)="pickerEnd.open()"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            </ng-container>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [optional]="true">
              <ng-template matStepLabel>Set a payment detail</ng-template>
              <app-transaction-details [paymentDetail]="isActivePlan.paymentDetails" (update)="onUpdateTransactionDetail($event)"></app-transaction-details>
              <div> 
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="primary" (click)="onPlanAddorUpdate()"> {{isActivePlan ? 'Update': 'Add'}} Task to calendar</button>
              </div>
          </mat-step>
    </mat-stepper>
</ng-template>