.full-page{
    background: var(--primary-lighter-color);
    &.flexReverse{
        flex-flow: row-reverse !important;
        .design{
            background-position: right !important;
        }
    }
    >section{
        &.interaction{
            min-width: 60vw;
            flex:3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .form-login{
                width: 50%;
                padding: 55px 40px;
                border-radius: 20px;
                ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
                    background-color: unset;
                }
                input{
                    font-size: 1.5em;
                    font-weight: 500;
                }
            }
            .form-header{
                font: 100 44px / 58px Nunito;
                text-align: center;
            }
            .navigate-forms-footer{
                justify-content: space-evenly;
            }
            .form-navigate-text{
                text-align: center;
                margin:unset;
                button{
                 padding: unset;
                 min-width: 50px;   
                }
            }
            button[type="submit"]{
                letter-spacing: 1px;
            }
        }
        &.design{
            flex: 2;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            filter:opacity(0.9);
            &.signup{
                background-image: url('../../../../assets/images/SignUp.png');
            }
            &.signin{
                background-image: url('../../../../assets/images/SignIn.png');
            }
            &.invalidForm{
                filter:grayscale(1);
            }
         }
    }
}

.app-logo{
    position: relative;
    top: 40px;
    z-index: 9999;
    img{
        height: 70px;
    }
}


@media screen and (max-width: 800px) {
    .design{
        display: none;
    }
  }