<div class="full-page flexRow" [ngClass]="{flexReverse: isSignUp}">
    <section class="design" [ngClass]="{signup: isSignUp, signin: !isSignUp}">
    </section>
    <section class="interaction">
      <section class="app-logo">
        <img src="./assets/images/logo.png" alt="MoneySense"/>
      </section>
      <mat-card class="form-login mat-elevation-z2">
          <h1 class="form-header"> {{ isSignUp ? 'Sign up' : resetPassword ? 'Reset Password' : 'Sign In'}}</h1>
        <form [formGroup]="form" class="flexColumn" (ngSubmit)="onSubmit()">
                        
            <mat-form-field appearance="fill">
              <!-- <mat-label>Email</mat-label> -->
              <input matInput type="email" formControlName="email" placeholder="User@example.com">
              <mat-error *ngIf="form.get('email')?.invalid">Please enter a valid email address</mat-error>
            </mat-form-field>
            
            <mat-form-field *ngIf="!resetPassword" appearance="fill">
              <!-- <mat-label>Password</mat-label> -->
              <input matInput type="password" formControlName="password" placeholder="Enter password">
              <mat-error *ngIf="form.get('password')?.invalid">Password is invalid</mat-error>
            </mat-form-field>
            
            <mat-form-field *ngIf="isSignUp" appearance="fill">
              <!-- <mat-label>Confirm Password</mat-label> -->
              <input matInput type="password" formControlName="confirmPassword" placeholder="Re-enter password">
              <mat-error *ngIf="form.get('confirmPassword')?.invalid">Confirm Password is invalid</mat-error>
            </mat-form-field>
            
            <button [disabled]="form.invalid" mat-flat-button color="primary" type="submit"> {{ isSignUp ? 'Register' : resetPassword ? 'Reset My Password' : 'Log In'}}</button>
            <section class="flexRow navigate-forms-footer">
              <h4 *ngIf="!resetPassword && showSignUpFlow" class="form-navigate-text">{{ isSignUp ?  'Already' : 'Not' }} a member? <button type="button" (click)="togglePages()" mat-button color="primary">Sign {{ isSignUp ? 'In' : 'Up' }}</button> 
              </h4>
              <h4><button type="button" mat-button color="primary" *ngIf="!isSignUp" (click)="forgotPassword()"> {{ resetPassword ? 'Sign In' : 'Forgot Password'}}</button></h4>
            </section>

            
          </form>
        </mat-card>
        <app-footer-text></app-footer-text>
    </section>
</div>